[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "openzeppelin-contracts-v4.9.3"]
	path = lib/openzeppelin-contracts-v4.9.3
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = release-v4.9
